@charset "utf-8";
/* CSS Document */
/* Buatan Kersa Andika 100% sumpahna da ih :( */
* {margin: 0 ; padding: 0;}
*:focus {
    outline: none;
}
html { background:url(../img/wall.gif) #b8e1db; background-position:top center; background-repeat:no-repeat; font-family:"Segoe UI Light";}
.accinfo { width:125px; height:60px; position:absolute; right:10px; top:8px; padding-right:15px; cursor:pointer !important}
.accinfo:hover { background:#ff6600}
.accinfo:hover .name {color:#fff}
.accinfo:hover .accoptionbox { opacity:1; visibility:visible;}
.accinfo .imgThumb { width:40px; height:40px; background-position:center !important; background-size:cover !important; position:relative; float:right; top:10px; background-repeat:no-repeat !important}
.accinfo .name { width:80px; height:40px; float:right; font-size:11pt; text-align:right;font-family:"Segoe UI Light"; position:relative; margin-right:5px; color:#666}
.accinfo .name span {font-family:"Segoe UI"; position:relative;font-size:18pt; }
.accoptionbox { width:200px; height:auto; background:#fff; border: thin solid #ccc; position:absolute; z-index:999; top:0; left:-190px; opacity:0; visibility:hidden; -webkit-transition:all 0.1s;  cursor:auto !important; padding-bottom:5px}
.accoptionbox .btn { width:80%; padding:2px; height:20px; background:#fff; margin-top:5px; border-bottom:thin solid #f0f0f0; -webkit-transition:all 0.2s; padding-left:10px}
.accoptionbox a:hover .btn { text-indent:13px}
.accoptionbox a { color:#ff6600; text-decoration:none}
.accoptionbox:after {content:url(../icons/top_arrow.png); position:absolute; top:5px; right:-10px; -webkit-transform:rotate(90deg)}

/* EXP */
.containertop { width:960px; height:auto; margin:0 auto; position:relative; background:#fff; border:thin solid #ccc; border-top:none; border-bottom:none}
.logo { width:300px; height:90px; border-top:5px solid #ff6600; position:relative; padding-left:130px; font-family:"Segoe UI Bold"; font-size:40pt; }
.logo .limg { background:url(../icons/head.png); background-size:120px; background-repeat:no-repeat; width:120px; height:190px; position:absolute; left:0}
.logo:hover, .logo span:hover { cursor:default}
.logo span { color:#ff6600;position:relative; top:10px}
.logo span:last-child{ font-family:"Segoe UI"; color:#333}
.login {position:absolute; top:0; right:10px; color:#999; font-size:10pt; background:#f2f2f2; border:thin solid #f0f0f0; padding:0px 1px 0px 5px; border-radius:2px}
.login:hover { cursor:default}
.join { position:absolute; top:0; right:105px; font-family:"Segoe UI"; font-size:10pt; color:#ff6600; text-decoration:none;}
.join:hover {text-decoration:underline}
.login:after, .hierarc:after { content:'▼'; font-size:10pt; margin-left:2px; color:#ff6600}
.login:hover .loginpane {visibility:visible; opacity:1}
.login .loginpane { width:390px; height:55px; border:thin solid #ccc; position:absolute; right:-4px; top:22px; padding:5px; visibility:hidden; opacity:0; -webkit-transition:all 0.2s}
.loginpane table { margin-left:5px}
.loginpane a { text-decoration:none; color:#ff6600}
.loginpane a:hover { text-decoration:underline}
.login .loginpane:after {content:url(../icons/top_arrow.png); position:absolute; top:-12px; right:4px}
.loginpane input { padding:5px}
.loginpane input[type=checkbox] {margin-left:8px; position:relative; top:2px}
.loginpane input[type=submit] { border:2px solid #ff6600; background:#ff6600; color:#fff}
.loginpane input[type=submit]:hover { background:#fff; color:#ff6600}

.nav { width:auto; border-top:thin dotted #ccc; margin-top:30px; padding:10px; list-style:none; border-bottom:thin dotted #ccc; height:25px; margin-left:130px}
.nav li {float:left; margin-right:20px;}
.nav li a { color:#333; font-family:"Segoe UI"; text-transform:uppercase; text-decoration:none; font-size:10pt}
.nav li:hover a { color:#ff6600}
.hierarc:after {margin-top:1px;}
.nav input[type=search] { width:200px; padding:2px; font-family:"Segoe UI"; -webkit-transition:all 0.3s; position:relative}
.nav li:last-child { float:right; margin-right:0}
.nav input[type=search]:focus { width:250px}
.nav input[type=submit] { width:60px; padding:3px; border:thin solid #ff6600; background:#ff6600; margin-left:5px; height:26px; position:relative; bottom:1px; float:right; color:#fff;}
.nav input[type=submit]:hover { background:#fff; color:#ff6600}

.hierarc:hover .popbox { visibility:visible; opacity:1;}
.hierarc { position:relative}
.popbox { position:absolute; width:190px; height:auto; background:#fff; z-index:999; visibility:hidden; opacity:0; padding:5px; border:thin solid #ccc; -webkit-transition:all 0.2s}
.popbox ul { list-style:none}
.popbox ul a:hover li { padding-left:20px}
.popbox ul li:last-child { float:none; padding:5px; border-bottom:thin dashed #ddd; -webkit-transition:all 0.2s}
/* EXP */


.featurewrapper {width: 960px; height:auto; margin:0 auto; background:#fff; position:relative; padding-top:10px; overflow:hidden; border:thin solid #ccc; border-bottom:none; border-top:none}
.feature, .imgdetail {width: 623px; height:280px; margin-left:8px; float:left; overflow:hidden; position:relative; border:thin solid #CCC; background-size:cover !important; background-position:center !important; background-repeat:no-repeat !important}
.feature_min, .resdetail { width:307px; height:135px; background:#fff; float:left; margin-left:10px; margin-bottom:10px; position:relative; overflow:hidden; border:thin solid #CCC}
.featurewrapper h1, .wrapper h1 {font-family:"Segoe UI Light"; margin-left:20px; color:#aaa; font-weight:lighter; margin-top:5px; padding-top:3px}
.wrapper { width:950px; padding:5px; margin:0 auto; height:auto; border:thin solid #ccc; position:relative; border-top:none; background:#fff; overflow:auto; overflow-x:hidden}
.feature h1 , .feature_min h1 { background:rgba(255, 102, 0, 0.7); font-family:"Segoe UI Light"; color:#fff; padding:8px; margin:0; position:absolute; bottom:-70px; width:100%; -webkit-transition:all 0.2s; padding-top:5px}
.feature_min { background-size:cover !important; background-position:center !important}
.feature_min h1 { font-size:14pt; padding:5px}
.feature:hover h1, .feature_min:hover h1 { bottom:0} 
.feature:hover span { opacity:1}
.feature span { width:230px; height:auto; position:absolute; right:10px; top:20px; word-wrap:break-word;background:rgba(255, 102, 0, 0.7); color:#fff; padding:6px; opacity:0; -webkit-transition:opacity 0.3s; font-style:italic}

/* POST */
.mpostwrapper { width:630px; height:auto; float:left; border-right:thin dotted #ccc; background:#fff}
.mpostwrapper .postwrapper:last-child { border-bottom:none}
.postwrapper { width:628px; height:225px; border:0px solid #333;margin-left:3px; position:relative; margin-bottom:10px; border-bottom:thin dotted #ddd}
.reimg { width:210px; height:210px; border:thin solid #ccc; margin:10px; margin-left:5px; background:#ccc; float:left; overflow:hidden; position:relative; background-size:cover !important;}
.titleholder { background:#fff; padding-bottom:8px; position:relative;  border-bottom:thin dotted #ccc; }
.recap { width:390px; height:210px; float:left; border-left:0px solid #F9990B; margin-top:10px; position:relative;}
.rerating { width:100%; height:32px; position:absolute; bottom:0; font-size:14pt; text-align:right; color:#F9990B; font-family:"Segoe UI" ;right:10px;}
.recap a h1 { text-decoration:none; margin:0; font-size:18pt; color:#ff6600; font-family:"Segoe UI"; text-shadow:0px 0px 1px #fff; position:relative; display:inline; }
.recap a h1:hover { text-decoration:underline}
.recap a {text-decoration:none; font-size:12pt; color:#ff6600}
.recap span a:hover { text-decoration:underline}
.recap { padding-left:10px}
.reimg .infoimg { width:300px; height:300px; background:rgba(255,255,255,0.8); padding:5px;position:absolute; bottom:-350px; -webkit-transition:bottom 0.3s ease-out; color:#fff; color:#666}
.reimg:hover .infoimg { bottom:-90px}
.infoimg ul { position:absolute; top:6%; left:28px; height:auto; width:auto; list-style:none}
.dateholder { width:104px; height:50px; background:url(../icons/dateholder.png); position:absolute; right:0; text-align:right; background-size:cover; padding-right:5px; color:#aaa; padding-bottom:6px; top:5px }
.dateholder span:first-child { font-family:"Segoe UI Bold"; font-size:21pt; line-height:35px}
.dateholder span:last-child { position:relative; bottom:5px}

/* BOTTOM CONTENT */

.botwrapper { width:950px ; height:250px; background:#fff; border-top:thin dotted #ccc; margin:0 auto; padding-top:10px; position:relative; clear:both; border-bottom:thin dotted #ccc}
.botcontent { width:300px; height:230px; border-right:thin dotted #ccc; padding-left:14px; overflow:auto; float:left}
.botcontent h1 { font-size:16pt; color:#666; border-bottom:thin solid #ccc; display:inline-block; width:250px; margin-bottom:5px; padding-bottom:3px; padding-left:0; margin-left:0}
.botcontent .botimg { width:80px; height:80px; background:url(../img/profile/default.jpg); background-size:contain; float:left}
.botcaption { padding-left:7px; width:200px; float:left; height:170px; position:relative}
.botcaption a { color:#ff6600; text-decoration:none}
.botcaption a:hover {text-decoration:underline} 
.botwrapper .botcontent:last-child { border:none}

/* QUICK LINKS */

.quickwrap { width: 950px; height:300px; margin:0 auto; border:thin solid #ccc; border-radius:5px; margin-top:5px; background:#eee}

/* FOOTER */

.footer { width:100%; height:auto; min-height:20px; background:#fff; border-bottom:20px solid #ff6600; position:relative}
.footer p { text-align:center; font-size:9pt; color:#fff; position:relative; top:22px}

/* SIDEBAR */

.sidewrap { width:300px; height:auto; background:#fff; float:left; padding:8px; padding-top:4px; position:relative}
.sideitem { float:left; width:300px; padding:0px; height:auto; background:#fff; margin-top:0px; border:thin solid #fff; margin-left:2px; margin-bottom:9px; padding:0px 5px 0px 5px}
.sideitem h1 { margin:0; border-bottom:1px solid #ccc; padding:8px 0px 10px 0px; color:#666; font-size:15pt;}
.sideitem ul { list-style-type:none; margin-left:10px}
.sideitem ul li { padding:4px; border-bottom:thin solid #f5f5f5; }
.sideitem a { color:#ff6600; text-decoration:none;}
.sideitem a:hover { text-decoration:underline;}
.popside { width:100%; background:#fff; padding:5px; border-bottom:thin solid #f5f5f5; position:relative; overflow:auto}
.popside a { border-bottom:thin solid #f5f5f5; display:block; background:#f5f5f5; }
.popside .imgside { width:70px; height:70px; background:#f00; float:left; margin-right:5px; border:thin solid #ccc; background-size:cover !important; background-position:left !important}
.popside p { font-size:10.5pt; width: 220px; margin-left: 77px;}


/* DETAIL RESEP */
.resdetail { width:308px; padding-top:10px; height:124px}
.resdetail a { text-decoration:none; color:#ff6600;}
.resdetail a:hover { text-decoration:underline}
.timeimg, .nutimg {margin-left:5px; width:43px; height:43px; background:url(../icons/time.png); float:left; padding:5px; border-bottom:thin dashed #ccc; background-repeat:no-repeat; background-position:center; margin-bottom:5px}
.nutimg {border-bottom:none;border-top:thin dashed #ccc;background:url(../icons/nutri.png);background-repeat:no-repeat; background-position:center; margin-bottom:5px}
.minidet { width:65px; height:45px; background:#fff; float:left; padding:5px; margin-left:5px; margin-bottom:5px; border-left:thin dashed #ccc; font-weight:bold; line-height:5px; font-size:9pt; color:#666; overflow:hidden; position:relative}
.minidet span { font-weight:normal; font-family:"Segoe UI Light" ; font-size:20pt; position:absolute; bottom:0; left:5px; line-height:normal; font-style:normal !important}
.resdetail p { padding:6px; position:relative; bottom:10px; overflow-y: scroll;
height: 92px;}
.resdetail p span { font-style:italic}
.resdetail span { font-style:italic;}
.resdetail h3 { position:absolute; bottom:0; background:#eee; width:300px; font-weight:normal; text-align:right; color:#888; font-size:11pt; padding:5px; padding-right:25px}
.resdetail h3 span { position:absolute; left:10px; font-style:normal}
.detail { margin-left:50px; padding-right:20px}
.detail ul { margin-left:25px; color:#ff6600; -webkit-column-count:2}
.detail ul li { margin-bottom:5px; border-bottom:thin dashed #f5f5f5}
.detail ul li:before { content:'√'; margin-right:3px }
.detail ul span, .detail table tr td p { color:#444; font-size:13pt; position:relative;}
.detail table tr td span { font-size:25pt; color:#ff6600}
.detail table { width:860px !important; height:auto; word-break: break-word}
.detail table tr td { border-bottom:30px solid #fff;}
.detail table tr td:nth-child(1) { background:#fff; width:40px}
.detail ul span { left:0px; top:0}
.detail ul li { margin-bottom:5px}
.detail ul { list-style-type:square}
.imgwrap { width:623px; height:120px; background:#fff; border:thin solid #ccc; clear:both; margin-left:8px; float:left; overflow-y:hidden; overflow-x:scroll; position:relative}
.imgcontainer { width:auto; height:120px; background:#fff; position:absolute; left:0; top:0; white-space:nowrap}
.imgList { width:90px; height:90px; background:#ff6600; float:left; position:relative; margin-left:5px; margin-top:6px; background-size:cover !important; background-position:center !important; border:thin solid #ccc}
.imgcontainer a .imgList:last-child { margin-right:5px}
.boxbutton {width:138px; height:48px; background:#ff6600; margin-left:7px; margin-top:3px; background-position:left !important; background-repeat:no-repeat !important; position:relative; -webkit-transition:all 0.2s; border:thin solid #ff6600; background-size:contain !important;}
.boxbutton .linkb { float:right; width:90px; height:48px;font-size:11pt; padding-top:3px}
.linkb a { color:#fff; }
.sharebox { position:absolute; width:140px; height:103px; right:5px; top:8px; padding-left:10px; border-left:thin solid #eee}
.sharebox span { font-weight:bold; color:#ff6600; font-style:normal; margin-bottom:5px}
.sharebox li { list-style:none}
.fb:before { content:url(../icons/facebook.png); margin-right:5px; position:relative; top:3px}
.twit:before { content:url(../icons/twitter.png); margin-right:5px; position:relative; top:3px}

/* REVIEW */
.revimg { width:80px; height:80px; border:5px solid #ff6600; background:#fff; float:left; position:relative; background-size:cover !important;}
.revwrap { border:thin solid #fff; height:auto; padding:25px 0 25px 0;; padding-left:30px;overflow:auto}
.revwrap table { width:40%; border-spacing:5px; float:left; margin-right:30px}
.revoverall { width:280px; height:280px; background:#fff; padding:10px; float:left; position:relative; margin-left:10px}
.revoverall h2 { width:auto; font-family:"Segoe UI Light"; font-size:20pt; font-weight:normal; padding-left:55px; margin-bottom:5px; color:#aaa}
.revoverall span { text-align:center; width:auto; display:block; margin-top:10px}
.ratingbox { width:100px; height:100px; background:#ff6600; margin:0 auto; font-size:50pt; text-align:center; color:#fff}
.revwrap input { width:300px; padding:2px}
.revwrap input[type=submit] { width:180px; border:thin solid #ff6600; background:#ff6600; color:#fff}
.revwrap textarea { width:550px; height:100px; resize:none; font-family:"Segoe UI"; padding:5px}
.tlimit input { width:25px; padding:0; !important; border:none; background:none; font-size:8pt;}
.tlimit { font-family:"Segoe UI"; font-size:8pt; }
.review { margin-bottom:20px; border-bottom:thin dotted #ccc; overflow:auto}
.review table { width:auto !important; border-spacing:5px}
.review table h3, .review table a { color:#ff6600; text-decoration:none}
.review table a { font-size:11pt; font-family:"Segoe UI Light"}
.review table a:hover {text-decoration:underline}
.review table .revimg {margin-right:10px}
.review table span { margin-bottom:20px}
.review table span:first-child { font-weight:bold; font-size:11pt}
.review table span:last-child { color:#999}
.noreview { width:auto; padding:10px; background:#eee; margin:0 auto; text-align:center; margin-bottom:20px}
#ratetext { width:15px;}

.reviewlogin { width:535px; height:280px; float:left; background:#fff; padding:10px; margin-right:10px; font-size:17pt;}
.reviewlogin ul { width:500px; background:#eee; border:thin solid #ccc; font-size:16pt; list-style:none; margin:0 auto; margin-top:10px; padding:5px; text-align:center; padding-bottom:15px}
.reviewlogin ul input { width:auto; text-align:center}
.reviewlogin span, .reviewlogin a { font-size:11pt; color:#ff6600; text-decoration:none}
.reviewlogin a:hover { text-decoration:underline}
.reviewlogin ul input[type=submit]{ padding:5px 0px 5px 0px }
.reviewlogin ul input[type=checkbox] { position:relative; top:2px; left:2px}
.reviewlogin ul input[type=submit]:hover { background:#fff; border:thin solid #ff6600; color:#ff6600; padding:5px 0px 5px 0px}

@-webkit-keyframes fadeside {
	from {opacity:0; left:-20px}
	to {opacity:1; left:0}
	}
	
.fading{ -webkit-animation:fadeside; -webkit-animation-duration:0.5s; position:relative}

/* REGISTER */

.register { width:900px; border-spacing:5px}
.register h2 { color:#666; font-size:22pt; font-family:"Segoe UI Light"; border-bottom:thin solid #f0f0f0}
.register span { color:#999; font-size:16pt; position:relative; left:20px; bottom:3px}
.register input, .register textarea, .register select { width:300px; padding:5px; border:2px solid #999}
.register select { width:314px}
.register textarea { height:100px; resize:none; font-family:"Segoe UI"}
.register input[type=submit] { background:#5cd053; border-color:#44a83d}
.register input[type=reset] {background:#d45252; border-color:#ae4242}
.register input[type=submit], .register input[type=reset] {width:100px; margin-top:30px; margin-left:5px; float:right; color:#fff}
.register input[type=submit]:hover { background:#44a83d;}
.register input[type=reset]:hover { background:#ae4242;}
.enotif { width:310px; height:25px; margin:0 auto; background:#FF4045; border:2px solid #FF060D; text-align:center; color:#fff; float:left}
